.h{
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    margin-bottom: 130px;
}
.pp{
    width: 300px;
margin-right: 240px;
}
.head-title{
    color: #272727;
font-size: 80px;
font-weight: 800;
margin-left: 190px;
margin-right: 97px;
margin-bottom: 35px;
}
.head-description{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
margin-left: 190px;
margin-top: 0px;
margin-bottom: 32px;
}
.btn-pri{
    color: #FFF;
font-size: 20px;
font-weight: 700;
border-radius: 0px;
background: #E55473;
padding: 20px 35px;
margin-left: 190px;
}
.body-titles{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.body-des{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
}
.fl{
    display: flex;
    gap: 25px;
    margin: 48px 240px 32px 240px;
}
.flower-image{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
.b{
    display: flex;
background: rgba(229, 84, 115, 0.05);
width: 1800px;
height: 550px;
}
.hd{
    color: #272727;
font-size: 40px;
font-weight: 800;
padding: 120px 25px 24px 400px;
}
.of{
    color: #E55473;
font-size: 40px;
font-weight: 800;
}
.hd-des{
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-weight: 400;
}
.btn-sec{
    background: #E55473;
    display: inline-flex;
padding: 15px 30px;
align-items: flex-start;
gap: 10px;
color: #FFF;
}
.hd-pic{
    width: 318px;
height: 420px;
flex-shrink: 0;
padding: 100px 30px 100px 186px;
}
